.input[type='range'] {
  width: 100%;
  background: transparent;
  outline: none;
  cursor: pointer;
  appearance: none;

  --track-height: 8px;
  --track-border-radius: 8px;
  --track-thumb-size: 30px;
  --track-thumb-border-radius: 50%;
}

/* Track: Chrome, Safari, Opera, Edge Chromium */
.input[type='range']::-webkit-slider-runnable-track {
  height: var(--track-height);
  border-radius: var(--track-border-radius);
  @apply bg-gray-100;
}

/* Thumb: Chrome, Safari, Opera, Edge Chromium */
.input[type='range']::-webkit-slider-thumb {
  width: var(--track-thumb-size);
  height: var(--track-thumb-size);
  margin-top: calc(-1 * (var(--track-thumb-size) - var(--track-height)) / 2);
  border-radius: var(--track-thumb-border-radius);
  appearance: none;
  @apply bg-spotify-green;
}

/* Track: Firefox */
.input[type='range']::-moz-range-track {
  height: var(--track-height);
  border-radius: var(--track-border-radius);
  @apply bg-gray-100;
}

/* Thumb: Firefox */
.input[type='range']::-moz-range-thumb {
  width: var(--track-thumb-size);
  height: var(--track-thumb-size);
  border: none;
  border-radius: var(--track-thumb-border-radius);
  @apply bg-spotify-green;
}
